* {
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    /* max-width: 650px !important; */
    max-width: 965px !important;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 1px solid #b3bfca;
    border-radius: 5px;
    text-align: center;
}
.main-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}
#resultArea {
    border: 1px solid #107df5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.controls {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    width: 480px;
    padding: 20px;
    border: 1px solid #107df5;
    background-color: rgba(16, 125, 245, 0.1);
    border-radius: 5px;
}
.buttons {
    width: 420px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.btnNav {
    margin-top: 7px;
    margin-left: 10px;
    margin-right: auto;
    display: block;
    height: 37px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(2, 123, 255, 1);
    color: white;
    text-align: center;
    height: 50px;
    line-height: 20px;
 }

/* Modal */
#modalTitle {
    font-size: 2rem;
    text-align: center;
    margin-left: 30px !important;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.modal-body {
    margin: 20px;
}
.tag {
    font-weight: 700;
    padding: 5px;
    margin-right: 10px;
    line-height: 20px;
    border-radius: 5px;
    background-color: rgba(2, 123, 255, 0.9);
    /* border: 1px solid rgba(2, 123, 255, 1); */
    color: #fff;
}
.img-actor-small {
    width: 40px;
    height: 60px;
}
/* End Modal */

/* Navigation Toogle button */
.navbar-toggler {
    border: 1px solid #005cbf !important;
}
.navbar-toggler-icon{
    width: 22px !important;
    height: 22px !important;
    /* background-image: url(../img/list.svg)!important; */
    background-repeat: no-repeat;
}
.navbar-toggler:hover {
   background-color: #005cbf;
   border: 1px solid #005cbf !important;
}

/* ****************************************************** */
/* ***                                                *** */
/* ***                Responsivity                    *** */
/* ***                                                *** */
/* ****************************************************** */

@media only screen and (max-width: 995px) {
    .video iframe {
        width: 400px !important;
        height: 300px !important;
    }
}

@media only screen and (max-width: 767px) {
    /* Top Navigation */
    .navbar {
        text-align: center;

    }
    .navbar-text, .navName, .btnNav {
        display: block;
        text-align: center;
        width: 100%;
        max-width: 250px;
    }
    .video iframe {
        width: 400px !important;
        height: 300px !important;
    }
}

@media only screen and (max-width: 600px) {
    /* Sidebar navigation */
    .sidebar {
        top: 350px; /* Stay at the top */
    }
    .container {
        max-width: 500px  !important;
        padding-right: 1px !important;
        padding-left: 1px !important;
    }
    .main-title {
        font-size: 3rem;
    }
    .controls {
        width: 300px;
    }
    .video iframe {
        width: 400px !important;
        height: 300px !important;
    }
}

@media only screen and (max-width: 575px) {
    .video iframe {
        width: 400px !important;
        height: 300px !important;
    }
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
@media only screen and (max-width: 450px) {
    body {
        background-color: rgba(106, 154, 215, 0.0);
    }
    .container {
        width: 320px;
        padding-right: 1px !important;
        padding-left: 1px !important;
    }
    .main-title {
        font-size: 2.5rem;
    }
    .video iframe {
        width: 300px !important;
        height: 200px !important;
    }
}

/* ------------------------------------------------------------ */
/*                          New CSS                             */
/* ------------------------------------------------------------ */

/* Card */

.card {
    display: inline-flex !important;
    margin-left: 8px;
    margin-right: 8px;
    width: 210px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}

.card:hover {
    cursor: pointer;
    border: 1px solid #107df5;
    background-color: rgba(16, 125, 245, 0.1);
}

.card-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding: 0px !important;
    border-bottom: 1px solid #dee2e6;
}

.card h5 {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}

.card li {
    border-top: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
}

.card .card-tag {
    font-weight: 600;
}
.card .card-tag-info {

}

.card .card-actions {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.card button {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
}

.video {
    text-align: center;
}

.video iframe {
    border: none;
    width: 600px;
    height: 500px;
}

/* Modal */

.modal-content {
    max-width: 700px;
    word-break: break-all;
}

.modal-header {
    text-align: center !important;
}

.modal-image {
    max-width: 400px !important;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dee2e6;
}

.modal-subtitle {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}

/* Modal Review */

.modal-box {
    background-color: rgba(16, 125, 245, 0.1);
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid rgba(16, 125, 245, 0.7);
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.review-title {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 600;
}

.review-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Modal Buttons */

.modal-actions {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

/* Modal Forms */

.form-group {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.form-custom label {
    margin-top: 25px;
    font-weight: 600;
}

.form-group textarea {
    min-height: 90px;
}

/* Controls - Buttons */

.btn-1 {
    width: 100px;
}

.btn-2 {
    width: 200px;
}

.btn-3 {
    width: 200px;
    height: 50px;
    font-weight: 600 !important;
}

.panel-actions {
    margin-top: 20px;
}

.panel-actions button {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

#movieSearch, #crewSearch, #adminSearch, #memberSearch {
    margin-top: 10px;
} 

#searchMovie, #searchCrew, #searchAdmin, #searchMember {
    width: 416px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Login Page */
.loginForm {
    text-align: center;
}

.loginForm input {
    width: 406px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.loginForm label {
    margin-top: 10px;
}

.loginForm button {
    margin-top: 20px;
}

/*  */

.poster {
    cursor: pointer;
}

.crewDiv, .adminDiv {
    width: 220px !important;
}

.detailsBtn {
    margin-right: 19px;
    margin-bottom: 5px;
    margin-top: 7px;
}

#adminLogout, #memberLogout {
    position: absolute;
    right: 10px;
    top: 2px;
}
